doctype html 
html 
  head
    title Contraseñas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    a(href="/contrasenias") 
      button <- Regresar
    a(href="/genCont") 
      button Generar contraseña segura
    a(href="/addSitioWeb") 
      button Agregar sitio web
    .contenedor-gen
      h1 Agregar nueva contraseña
  
      form.formlogin(action='/agregar-Contrasenia' method='POST' onsubmit='return validarFormulario()')
        select(name='sitio_id' id='sitio-elegido') 
          option(value="0" class='opcion' disabled selected) Selecciona para que pagina es la contraseña

        label(for='username') Usuario:
        input(type='text' id='usuario' name='usuario' required)
        label(for='contrasenia') Contraseña: 
        input(type='text' id='contrasenia' name='contrasenia' required oninput='comprobarSecCont()' value=contrasenia.contrasenia)
        p#respuesta

        button(type='submit') Guardar Contraseña

    script.
      function comprobarSecCont() {
        var contrasenia = document.getElementById('contrasenia').value;
        var mensaje = '';
        var segura = true;
        
        if (contrasenia.length < 8) {
          segura = false;
          mensaje += 'La contraseña minimo 8 caracteres. ';
        }

        if (!/[A-Z]/.test(contrasenia)) {
          segura = false;
          mensaje += 'La contraseña debe tener minimo una letra mayúscula. ';
        }

        if (!/[a-z]/.test(contrasenia)) {
          segura = false;
          mensaje += 'La contraseña debe tener minimo una letra minúscula. ';
        }

        if (!/[0-9]/.test(contrasenia)) {
          segura = false;
          mensaje += 'La contraseña debe tener minimo un número. ';
        }

        if (!/[!@#$%^&*()-_+=<>?]/.test(contrasenia)) {
          segura = false;
          mensaje += 'La contraseña debe tener minimo un carácter especial (!@#$%^&*()-_+=<>?). ';
        }

        
        var respuesta = document.getElementById('respuesta');
        if (segura) {
          respuesta.style.color = 'green';
          respuesta.textContent = 'La contraseña es segura.';
        } else {
          respuesta.style.color = 'red';
          respuesta.textContent = mensaje;
        }
      }

      async function cargarSitios() {
        const response = await fetch('/obtenerSitios');
        const sitios = await response.json();
        const select = document.getElementById('sitio-elegido');
      
        sitios.forEach(sitio => {
          const option = document.createElement('option');
          option.value = sitio.id;
          option.textContent = sitio.name;
          select.appendChild(option);
        });
      }

      function validarFormulario() {
        var sitioSeleccionado = document.getElementById('sitio-elegido').value;
        if (sitioSeleccionado === "0") {
          alert("Por favor, seleccione un sitio para la contraseña. Si no tiene, puede agregar sitios con el boton (Agregar sitio web)");
          return false; // Evita que el formulario se envíe
        }
        return true; // Permite el envío del formulario
      }

      window.onload = cargarSitios;