doctype html 
html 
  head
    title Contraseñas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .contenedor 
      //-if cualquiera para ver que funcione, ya que no se han declarado variables
      if 0 == 0 
        .contrasenias-container
        //-each cont in contrasenias
        .contrasenias
          p Aqui va el correo
          p Aqui va el usuario 
          p Aqui va la contrasenia 
              i.fas.fa-search
      else
        p No se encontraron resultados.