doctype html 
html 
  head
    title Contraseñas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .contenedor-gen
      h1 Generar Contraseña Segura
      p #{contrasenia}
      a(href="/genCont") 
              button Generar