doctype html 
html 
  head
    title Contraseñas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    a(href="/addCont")
      button <- Regresar
    .contenedor-gen
      h1 Generar Contraseña Segura
      form(action='/addCont' method='post')
        input(type='text', name='contrasenia', id='contraseniaInput', value=contrasenia)
        button(type='submit') Guardar
      form(action='/genCont' method='post' onsubmit='return validargenContForm()')
        .slider-container
          span.slider-label Cuantos caracteres: 
            span.char-count(id='charCount') 12
          br
          .span-slider.cont
            span 8
              input#slider(type='range', name='tamanio', min='8', max='28', value='12')
            span 28
        .input-slider-cont
          br
          label 
            input(type='checkbox', name='mayus', checked) 
            | Inlcuir letras mayusculas 
          br
          label 
            input(type='checkbox', name='minus', checked)
            | Inlcuir letras minusculas 
          br
          label
            input(type='checkbox', name='num', checked)
            | Inlcuir números
          br
          label
            input(type='checkbox', name='caracEsp', checked)
            | Incluir caracteres especiales

          br
          button(type='submit') Generar
    script.
      const slider = document.getElementById('slider');
      const charCount = document.getElementById('charCount');
      
      // Actualizar el charCount de una vez
      charCount.textContent = slider.value;

      // Actualizar el charCount cuando el slider cambie 
      slider.addEventListener('input', function() {
        charCount.textContent = slider.value;
      });

      function validargenContForm() {
        var seleccionBox = document.querySelectorAll('input[type="checkbox"]');
        var almenosUnoSelec = false;

        for (var i = 0; i < seleccionBox.length; i++) {
          if (seleccionBox[i].checked) {
            almenosUnoSelec = true;
            break;
          }
        }

        if (!almenosUnoSelec) {
          alert("Debe seleccionar tener marcado al menos una Checkbox");
          return false; // con este ya no se envia
        }

        // Se evia el formulario si el pasa del if
        return true;
      }