$primaryColor: #3B3B98
$secColor: #23235B

  
  
body
  margin: 0
  padding: 0
  background-color: $primaryColor
  box-sizing: border-box  
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex-direction: column
  color: #dbd8d8

.contenedor-gen
  background-color: $secColor
  display: flex
  flex-direction: column
  align-items: center
  max-width: 80vh
  width: 80%

.contenedor-gal
  background-color: $secColor
  display: flex
  flex-direction: column
  align-items: left
  max-width: 80vw
  width: 100%

  h3
    margin-left: 10px

  p
    margin-left: 4px
.datosCont-container
  display: flex
  flex-direction: row

.formlogin
  display: flex
  flex-direction: column
  width: 80%